:root {
    --tint: #5297FF;
    --primary: #3073D9;
    --shade: #335484;
    --accent: #D9A030;
    --light: #e0e0ef;
    --grey: #888;
    --dark: #111;
    --text-on-primary: white;
    --text-on-shade: white;
    --text-on-dark: var(--light);
    --max-content-width: 80rem;
}

body {
    margin: 0;
    background-color: var(--shade);
}

             
.fixed-diff {
 position: fixed;
 mix-blend-mode: difference;
 color: #fff;
}

.under-fixed-diff {
    background-color: #efefef;
}

.max-content-width {
    max-width: var(--max-content-width);
    margin: 0 auto;
}

.text-primary {
    color: var(--primary) !important;
}
.bg-primary {
    background-color: var(--primary) !important;
    color: var(--text-on-primary)
}
.bg-dark {
    background-color: var(--dark) !important;
    color: var(--text-on-dark)
}

[class*="primary"] {
    background: var(--primary) !important;
    color: var(--text-on-primary);
}
[class*="shade"] {
    background: var(--shade) !important;
    color: var(--text-on-shade);
}

.btn {
    cursor: pointer;
}
.btn:hover {
    filter: brightness(.9);
}

.btn[class*="primary"] {
    border-color: var(--primary) !important;
}
.btn[class*="outline"] {
    background: transparent !important;
}
.btn[class*="outline"][class*="primary"] {
    background: transparent !important;
    color: var(--primary);
}

body hr {
    width: 5rem;
    border-top: 1px solid #fff;
    mix-blend-mode: difference;
    margin: 2rem auto;
}



section:not(.hero-wrapper) h2 {
    color: var(--shade);
}

section:not(.hero-wrapper) h4 {
    color: var(--tint);
}




#topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
.top-bar-content {
    padding: .75rem;
    display: flex;
    justify-content: space-between;
}
#topBar a {
    color: #fff;
    text-decoration: none;
}
#topBar i {
    font-size: 1.5em;
}





#fancytop{
    position: absolute;
    background-color: transparent;
    box-shadow: inset 0 3rem 3rem -3rem #fff8;
    width: 100%;
    height: 3rem;
    z-index: 1;
}

#fancytop svg {position: absolute;width: 100%;height: 100%;}

.section-wrapper {
    width: 100%;
}

.section-content-wrapper {
    padding: 3rem;
}


.hero-wrapper {
    min-height: 50vh;
    background-size: cover;
    background-position: center center;
    box-shadow: inset 0 100vh 0 #0008, inset 0 0 10rem 1rem #000;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.hero-wrapper .section-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
}

.hero-wrapper hr {
    margin-left: 0;
}