:root {
    --primary: rgb(0,200,255);
    --water: var(--primary);
    --sand: "sandy";
    --text-on-water: white;
    --wave-height: 4rem;
}

body {
    margin: 0;
}

#navWrapper {
    /* position: fixed; */
    padding: .5rem;
    z-index: 50;
}
#logoBubble {
    background: #fff;
    width: 2rem;
}
#logoBubble .logoSvg {
    width: 100%;
    height: auto;
    fill: var(--primary);
}

.wave-wrapper svg {
    width: 100%;
    height: var(--wave-height);
    margin-bottom: -1px;
}
.wave-wrapper path {
    animation: wave 20s cubic-bezier(0.5, 0.5, 0.5, .5) infinite;
    transform: translate(-100%, 0) rotate(0deg);
}
section.wave-section .wave-wrapper path {
    fill: var(--water)
}

@keyframes wave {
    0% { transform: translate(0%, 0%) rotate(0deg) }
    25% { transform: translate(-25%, 5%) rotate(1deg) }
    75% { transform: translate(-75%, 70%) rotate(-2deg) }
    100% { transform: translate(-100%, 0%) rotate(0deg) }
}

section.wave-section .content {
    background-color: var(--water);
    background-image: linear-gradient(transparent 33%, rgba(0, 52, 83, 0.26) 80%);
    color: var(--text-on-water);
}

section .content {
    padding: 2em;
}

section .body {
}



.particle-bubble:first-child {
    transform: translate(0%,0%) scale(1);
    opacity: 1;
    animation: bubble-float 2000ms linear;
}
@keyframes bubble-float {
    0% {transform: translate(0%,0%) scale(1); opacity: 1; }
    25% {transform: translate(-50%,-100%) scale(.75); opacity: .75; }
    50% {transform: translate(0%,-200%) scale(.50); opacity: .50; }
    75% {transform: translate(-100%,-300%) scale(.25); opacity: .25; }
    100% {transform: translate(0%,-400%) scale(0); opacity: .0; }
}